<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>{{.Title}}</h1>
    <h2>Версия системы: {{.Version}}</h2>
    <hr>
    <h2>Содержание:</h2>
    <ul>
        {{range $key, $value := .Services}}
            {{range $value.Definitions}}
                <li>{{.Service.Name}} - <i>{{.Service.Doc}}</i></li>
                    <ul>
                        {{range .Binding.Operations}}
                        <li>{{.Name}}</li>
                        {{end}}
                    </ul>
                <p></p>
            {{end}}
        {{end}}
    </ul>
    <hr>    
</body>
</html>